@tailwind base;

body{
   @apply text-gray-800
}



@tailwind components;

.btn
{
    @apply text-white bg-purple-600 hover:bg-purple-800 rounded-md shadow-md my-2 px-2 py-1 cursor-pointer duration-200;
}

.nav_link{
    @apply cursor-pointer hover:text-blue-700 md:font-bold
}


@tailwind utilities;



.login {
   /* height: calc(100vh - 50px); */
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-family: 'Varela Round', sans-serif;
   background-image: linear-gradient(
       rgba(222, 237, 244, 0.9),
       rgba(231, 233, 235, 0.9)
   ), url(./assets/login.jpg);
   background-size: cover;
}

.register {
   /* height: calc(100vh - 50px); */
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-family: 'Varela Round', sans-serif;
   background-image: linear-gradient(
       rgba(222, 237, 244, 0.9),
       rgba(231, 233, 235, 0.9)
   ), url(./assets/register.jpg);
   background-size: cover;
}